# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Directory for generated code
dist/
build/

# OS-specific files
.DS_Store

# Environment variables
.env

# IDE-specific files (e.g., Visual Studio Code)
.vscode/
.idea/
